/*
	Syntaxes
	padding-top
	padding-right
	padding-bottom
	padding-left
	padding: top right bottom left;
	padding: top left-right bottom;
	padding: top-bottom left-right;
	padding: all;
	The same with margin
*/
.list-item {
	color: red;
	font-weight: bold;
	/*padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;*/
	padding: 10px;
	margin-bottom: 8px;
}