/*
	Syntaxes
	padding-top
	padding-right
	padding-bottom
	padding-left
	padding: top right bottom left;
	padding: top left-right bottom;
	padding: top-bottom left-right;
	padding: all;
	The same with margin
*/
/*
	Syntax for border
		border-width
		border-style
		border-color
	Shorthand:
		border:all;
	Note:
		border-width: like padding and margin;
		border-top-width...
		border-radius
*/
/*
	background-color: color;
	background-color: transparent;
	background-color: gradient;
*/
body {
	background-color: #EEE;
	font-family: sans-serif;
}
.list-item {
	color: red;
	font-weight: bold;
	font-size: 14px;
	/*padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;*/
	padding: 16px;
	margin-bottom: 8px;
	/*border-width: 1px;
	border-style: solid;
	border-color: #49C598;*/
	border-radius: 5px;
	background-color: #DDD;
}
.list-item-transparent {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,215,255,1) 100%, rgba(0,212,255,1) 100%);
	color: #FFF;
}